body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Set background color of the body */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.main-header h1 {
    margin: 0;
    font-size: 28px;
}

.main-header h2 {
    margin: 10px 0;
    font-size: 24px;
}

.main-header p {
    margin: 0;
    font-size: 16px;
}

.section {
    padding: 40px 0;
}

.home {
    text-align: center;
}

.portfolio {
    background-color: #ddd; /* Gray background color */
    padding: 20px; /* Add padding to separate the sidebars */
}

.portfolio-items {
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-items: center; /* Center items horizontally */
}

.portfolio-item {
    width: 1200px; /* Adjusted to 900px as per your request */
    margin: 20px auto; /* Adjusted margin for centering */
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adjust the size of the images */
    width: 100%; /* Make image take up full width */
    max-height: 100%; /* Adjusted to 900px as per your request */
    object-fit: cover; /* Maintain aspect ratio */
}

.portfolio-item h3 {
    margin-top: 10px;
}

.about {
    background-color: #f4f4f4;
    text-align: center;
}

.contact {
    background-color: #333;
    color: #fff;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Sidebar styling */
.sidebar-left, .sidebar-right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: calc((100% - 80%) / 2); /* Calculate width of sidebars */
    background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity to control darkness */
    z-index: -1; /* Push sidebars to the background */
}

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}
